<?xml version="1.0" encoding="UTF-8"?>
<configuration debug="true" scan="true">

    <statusListener class="ch.qos.logback.core.status.OnConsoleStatusListener" />

    <appender name="consoleAppender" class="ch.qos.logback.core.ConsoleAppender">
        <!-- encoders are  by default assigned the type
             ch.qos.logback.classic.encoder.PatternLayoutEncoder -->
        <encoder>
            <pattern>%d{HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%n</pattern>
        </encoder>
    </appender>

    <appender name="fileAppender" class="ch.qos.logback.core.FileAppender">
        <file>server-logback.log</file>
        <append>true</append>
        <encoder>
            <pattern>%d [%thread] %-5level  %logger{35} - %msg%n</pattern>
        </encoder>
    </appender>


    <!--<logger name="org.springframework" level="debug" additivity="false">-->
        <!--<appender-ref ref="STDOUT" />-->
    <!--</logger>-->

    <!--<logger name="com.kartik" level="debug" additivity="false">-->
        <!--<appender-ref ref="STDOUT" />-->
    <!--</logger>-->


    <root level="DEBUG">
        <appender-ref ref="fileAppender" />
        <appender-ref ref="consoleAppender" />
    </root>
</configuration>